<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO</h1>
    <p>{{ title }}</p>
    <p>{{ description }}</p>
    <p>{{ number }}</p>
    <p>{{ list1 }}</p>
    <p>{{ list1.1 }}</p>
    <p>{{ dict1 }}</p>
    <p>{{ dict1.name }}</p>
    <hr>
    <ul>
        {% for i in list1 %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
    <hr>
    {% if number == 123 %}
        <p>Number is true</p>
    {% else %}
        <p>Number is false</p>
    {% endif %}
  

</body>
</html>